.Order{
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
}
.Chat_notification {
    display: flex;
    max-width: 24rem;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 20px 25px _5px rgba(0, 0, 0, 0.1), 0 10px 10px _5px rgba(0, 0, 0, 0.04);
  }
  .Chat_notification_logo_wrapper {
    flex-shrink: 0;
  }
  .Chat_notification_logo {
    height: 3rem;
    width: 3rem;
  }
  .Chat_notification_content {
    margin-left: 1.5rem;
    padding-top: 0.25rem;
  }
  .Chat_notification_title {
    color: #1a202c;
    font-size: 1.25rem;
    line-height: 1.25;
  }
  .Chat_notification_message {
    color: #718096;
    font-size: 1rem;
    line-height: 1.5;
  }